---
layout: layout
title: index
---
{% include base.html %}

<!-- <img src="{{ site.baseurl }}/img/main-banner-image.jpg" class="img-responsive visible-xs"> -->

<img src="{{ site.baseurl }}/img/main-banner-image.jpg" class="img-responsive">

<!-- <div class="container container-padding contents">

  <div class="row">
    <div class="col-sm-4">
      <h3>About us</h3>              
      {% for post in site.categories.about-us %}
      <p><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></p>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <h3>Our work</h3>              
      {% for post in site.categories.our-work %}
      <p><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></p>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <h3>Red Cross people</h3>              
      {% for post in site.categories.our-people %}
  
        {% if post.title == "Volunteers" %}<div id="submenu-dropdown">{% endif %}
        {% if post.title == "Red Cross people" %}
        <p><a id="submenu-dropdown-btn" href='{{ site.baseurl }}{{ post.url }}'>+ {{ post.title }}</a></p>
        {% else %} 
        <p><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></p>
        {% endif %}
        {% if post.title == "Ambassadors" %}</div>{% endif %}

      {% endfor %}

      {% for post in site.categories.our-financial-supporters %}
        {% if post.title == "Donors" %}<div id="submenu-dropdown-1">{% endif %}
        {% if post.title == "Our financial supporters" %}
        <p><a id="submenu-dropdown-btn-1" href='{{ site.baseurl }}{{ post.url }}'>+ {{ post.title }}</a></p>
        {% else %} 
        <p><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></p>
        {% endif %}
        {% if post.title == "Trusts, foundations and private ancillary funds" %}</div>{% endif %}

      {% endfor %}
    </div>

  </div>

  <div class="row">
    
    <div class="col-sm-4">
      <h3>Guiding the organisation</h3>              
      {% for post in site.categories.governance %}
      <p><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></p>
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <h3>Financials</h3>              
      {% for post in site.categories.financials %}
      <p><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></p>
      {% endfor %}
      <p><a href='http://www.redcross.org.au/files/Financials_2015.pdf'>Full Financial Statements [PDF]</a></p>     
    </div>

    <div class="col-sm-4">
      <p>Red Cross acknowledges the Traditional Owners of this land, their ancestors and Elders, past and present.</p>
    </div>

  </div>

</div> -->

<!-- <div class="edge--top dark-callout-box callout-box">
  <div class="container container-padding">
    <div class="row">
      <div class="col-sm-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MRp5XofaytQ?rel=0"></iframe>
        </div>
      </div>
      <div class="col-sm-4">
        <h1>Human dignity, peace, safety and wellbeing for all</h1>
        <p>Our Night Cafe in Brisbane provides support for young people experiencing homelessness, with free hot meals, showers, information, hygiene products and first aid in a safe space away from the streets. This service is financially supported by Brisbane City Council.</p>
      </div>    
    </div>
  </div>
</div>
 -->
<div class="red-callout-box callout-box">
  <div class="container container-padding">
    <div class="row">
      <div class="col-sm-4">
        <h1>Welcome to our annual report</h1>
        <p>Here you will find how we worked towards our vision of ‘human dignity, peace, safety and wellbeing for all’ during the 2015/2016 financial year. We invite you to meet our people and supporters and discover how they have contributed to our services over the past year. You will also find audited financial statements for the Australian Red Cross Society. We welcome your queries and feedback – please call 1800 811 700 or email <a href="mailto:supporters@redcross.org.au">supporters@redcross.org.au</a>.</p>
      </div>    
      <div class="col-sm-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/6PpBf7SOhAg?rel=0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


